<!DOCTYPE html>
<html lang="en">
  <head
    ><link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    /></head
  >
  <section class="component">
    <div class="component__item">
      <div class="component__icon">
        <i class="fas fa-home"></i>
      </div>
      <h3 class="component__caption">Caption 1</h3>
      <p class="component__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in
        imperdiet lacus, in lacinia ex. Ut sed neque eget elit.
      </p>
    </div>
    <div class="component__item">
      <div class="component__icon">
        <i class="fas fa-home"></i>
      </div>
      <h3 class="component__caption">Caption 2</h3>
      <p class="component__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in
        imperdiet lacus, in lacinia ex. Ut sed neque eget elit.
      </p>
    </div>
    <div class="component__item">
      <div class="component__icon">
        <i class="fas fa-home"></i>
      </div>
      <h3 class="component__caption">Caption 3</h3>
      <p class="component__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in
        imperdiet lacus, in lacinia ex. Ut sed neque eget elit.
      </p>
    </div>
  </section>

  <style>
    .component {
      background-color: #090d2b;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .component__item {
      width: 250px;
      margin: 3rem;
      padding: 1rem 1rem;
      border-radius: 8px;
      background-color: #171c3e;
      transition: box-shadow 0.3s ease;
    }

    .component__item:hover {
      -webkit-box-shadow: 5px 6px 10px 0px #2c4dde;
      box-shadow: 5px 6px 10px 0px #2c4dde;
    }

    .component__icon {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .component__icon i {
      font-size: 48px;
      color: #ffffff;
    }

    .component__caption {
      font-family: azo-sans-uber, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: left;
      color: #2c4dde;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .component__description {
      font-family: azo-sans-web, sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #ffffff;
      text-align: left;
      font-size: 16px;
    }
  </style>


</html>
