<!DOCTYPE html>
<html lang="en">
  <head
    ><link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <div class="review">
    <h3 class="username">John Doe</h3>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices
      turpis ac enim congue, id molestie lectus cursus. Sed tincidunt, quam eget
      efficitur commodo, odio sapien tristique arcu, et fringilla libero nibh at
      dui.
    </p>
    <div class="stars">
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
    </div>
  </div>

  <style>
    .review {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }

    .username {
      font-size: 18px;
      font-weight: bold;
    }

    .description {
      font-size: 15px;
      margin-bottom: 10px;
    }

    .stars {
      color: #ffd700;
      font-size: 20px;
    }

    .star {
      display: inline-block;
      margin-right: 5px;
    }
  </style>


</html>
